@model IEnumerable<MyShop.Models.News>
@{
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="column2 column2-right-sidebar boxed no-breadcrumbs">
    <div class="container">
        <div class="row main-content-wrap">

            <!-- MAIN CONTENT -->
            <div class="main-content col-lg-9">

                <div id="content" role="main">
                    <div class="blog-posts posts posts-grid posts-grid-1">
                        <div class="row posts-container">

                            @* list news *@
                            @if (Model.Any())
                            {
                                foreach (var n in Model)
                                {
                                    <article class="post post-grid col-md-12">
                                        <div class="grid-box">

                                            <!-- IMAGE -->
                                            <div class="post-image single">
                                                <a href="/tin-tuc-chi-tiet/@n.Tag">
                                                    <img src="@n.Image"
                                                         class="owl-lazy img-responsive"
                                                         loading="lazy"
                                                         alt="@n.Name" />
                                                </a>
                                            </div>

                                            <!-- META -->
                                            <div class="post-meta">
                                                <span class="meta-date">
                                                    <i class="far fa-calendar-alt"></i>
                                                    @n.Date?.ToString("dd/MM/yyyy")
                                                </span>
                                            </div>

                                            <!-- CONTENT -->
                                            <div class="post-content">
                                                <h4 class="entry-title">
                                                    <a href="/tin-tuc-chi-tiet/@n.Tag">
                                                        @n.Name
                                                    </a>
                                                </h4>

                                                <p class="post-excerpt">
                                                    @(n.Description?.Length > 150
                                                        ? n.Description.Substring(0, 150) + "..."
                                                        : n.Description)
                                                </p>
                                            </div>

                                            <!-- READ MORE -->
                                            <div class="clearfix">
                                                <a class="btn btn-xs btn-default text-xs text-uppercase btn-readmore"
                                                   href="/tin-tuc-chi-tiet/@n.Tag">
                                                    Đọc thêm ...
                                                </a>
                                            </div>

                                        </div>
                                    </article>
                                }
                            }
                            @* end list news *@
                        </div>
                    </div>
                </div>
                <div class="pagination-wrap">
                    <div class="pagination" role="navigation" style="justify-content: center;">
                        @* PREVIOUS *@
                        @if (ViewBag.Page > 1)
                        {
                            var prev = ViewBag.Page - 1;
                            var prevUrl = "/tin-tuc?page=" + prev;

                            if (!string.IsNullOrEmpty(ViewBag.Search))
                            {
                                prevUrl += "&s=" + ViewBag.Search;
                            }

                            <a class="prev page-numbers" href="@prevUrl">
                                <i class="fas fa-long-arrow-alt-left"></i>&nbsp;&nbsp;Previous
                            </a>
                        }

                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {
                            var url = i == 1
                            ? "/tin-tuc"
                            : $"/tin-tuc?page={i}";

                            if (!string.IsNullOrEmpty(ViewBag.Search))
                            {
                                url += $"&s={ViewBag.Search}";
                            }

                            if (i == ViewBag.Page)
                            {
                                <span class="page-numbers current">@i</span>
                            }
                            else
                            {
                                <a class="page-numbers" href="@url">@i</a>
                            }
                        }

                        @* Next *@
                        @if (ViewBag.Page < ViewBag.TotalPages)
                        {
                            var next = ViewBag.Page + 1;
                            var nextUrl = "/tin-tuc?page=" + next;

                            if (!string.IsNullOrEmpty(ViewBag.Search))
                            {
                                nextUrl += "&s=" + ViewBag.Search;
                            }

                            <a class="next page-numbers" href="@nextUrl">
                                Next&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        }
                    </div>
                </div>

            </div>

            <!-- SIDEBAR -->
            <div class="col-lg-3 sidebar porto-blog-sidebar right-sidebar">
                <div data-plugin-sticky
                     data-plugin-options='{"autoInit": true, "minWidth": 992, "containerSelector": ".main-content-wrap","autoFit": true, "paddingOffsetBottom": 10}'>

                    <div class="sidebar-content">

                        <!-- SEARCH -->
                        <aside class="widget widget_search">
                            <form method="get" class="searchform">
                                <div class="input-group">
                                    <input class="form-control" placeholder="@(!string.IsNullOrEmpty(ViewBag.Search) ? ViewBag.Search : "Tìm kiếm ...")" type="text" name="s">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-dark p-2">
                                            <i class="Simple-Line-Icons-magnifier"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </aside>

                        <!-- BÀI VIẾT MỚI -->
                        <aside class="widget widget_recent_entries">
                            <p class="widget-title">Bài viết mới</p>

                            <ul>
                                @foreach(News n in Model.Skip(0).Take(3))
                                {
                                    <li>
                                        <a href="/tin-tuc-chi-tiet/@n.Tag">@n.Name</a>
                                        <span class="post-date">@n.Date?.ToString("dd/MM/yyyy")</span>
                                    </li>
                                }
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
