@model IEnumerable<MyShop.Models.Product>
@{
	ViewData["Title"] = "Khóa học";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="porto-html-block porto-block-html-banner"></div>
<section class="page-top page-header-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="page-title">Khóa học</h1>
				</div>
				<div class="breadcrumbs-wrap text-center">
					<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList"><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemtype="http://schema.org/Thing" itemprop="item" href="https://tech1.mypagedemo.com/brightbox"><span itemprop="name">Trang Chủ</span><meta itemprop="position" content="1" /></a><i class="delimiter delimiter-2"></i></li><li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">Khóa học</span><meta itemprop="position" content="2" /><meta itemtype="http://schema.org/Thing" itemprop="item" content="https://tech1.mypagedemo.com/brightbox/brightbox/khoa-hoc/"></li></ul>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="main" class="column1 boxed">
	<!-- main -->

	<div class="container">
		<div class="row main-content-wrap">

			<!-- main content -->
			<div class="main-content col-lg-12">


				<div id="content" role="main" class="">




					<div class="page-portfolios portfolios-grid clearfix hubdata">

						<div id="portfolioAjaxBox" class="ajax-box">
							<div class="bounce-loader">
								<div class="bounce1"></div>
								<div class="bounce2"></div>
								<div class="bounce3"></div>
							</div>
							<div class="ajax-box-content" id="portfolioAjaxBoxContent"></div>
						</div>

						<div class="header_portfolio_page">
							<div class="">
								<ul class="nav sort-source sort-source-style-3" style="justify-content: left;">
									<li class="@(string.IsNullOrEmpty(ViewBag.Slug) ? "active" : "")"><a href="/khoa-hoc">Tất cả</a></li>
									@foreach(Category category in ViewBag.Categories)
									{
										<li class="@(ViewBag.Slug == category.Tag ? "active" : "")"><a href="/khoa-hoc/@category.Tag">@category.Tag</a></li>
									}
									
								</ul>
								<style>
									.header_portfolio_page {
										padding-left: 0;
									}

										.header_portfolio_page .nav {
											margin-left: 0;
										}

									.portfolios-container,
									.header_portfolio_page {
										padding-left: 15px;
										padding-right: 15px;
									}
								</style>
							</div>
							<div class="searchform-popup search-popup">
								<form method="get" class="searchform">
									<div class="searchform-fields">
										<span class="text">
											<input name="search" type="text"
												   value="@ViewBag.Search"
												   placeholder="Tìm kiếm nhanh khóa học">
										</span>

										@if (!string.IsNullOrEmpty(ViewBag.Slug))
										{
											<input type="hidden" name="slug" value="@ViewBag.Slug" />
										}

										<span class="button-wrap">
											<button class="btn btn-special" type="submit">
												<i class="fas fa-search"></i>
											</button>
										</span>
									</div>
								</form>
							</div>
						</div>


						<div class="clearfix portfolio-row portfolios-container portfolio-row-3 outimage">

							@if (Model.Any())
							{
								@foreach (Product p in Model)
								{
									<article class="portfolio portfolio-grid portfolio-col-3 thiet-ke-do-hoa post-503 type-portfolio status-publish has-post-thumbnail hentry portfolio_cat-thiet-ke-do-hoa">
										<span class="entry-title" style="display: none;">Dàn trang với Adobe Indesign</span><span class="vcard" style="display: none;"><span class="fn"><a href="https://tech1.mypagedemo.com/brightbox/author/mypage/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-04-23T23:27:10+07:00</span>		<div class="portfolio-item outimage">

											<a class="text-decoration-none portfolio-link" href="https://tech1.mypagedemo.com/brightbox/khoa-hoc/dan-trang-voi-adobe-indesign/">
												<span class="thumb-info thumb-info-hide-wrapper-bg thumb-info-no-zoom">
													<span class="thumb-info-wrapper">
														<img class="img-responsive" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-2-367x278.jpg" alt="" width="367" height="278" />
													</span>
												</span>
											</a>
											<div class="rating_student">
												<div class="portfolio_rating">
													<div class="star-rating">
														<span style="width:92%"> <strong class="rating">1</strong> out of 5 </span>
													</div>
													<div class="star-number">1</div>
												</div>
												<div class="portfolio_student">
													<span>12,283 học viên</span>
												</div>
											</div>

											<h4 class="portfolio-title"><a class="text-decoration-none" href="https://tech1.mypagedemo.com/brightbox/khoa-hoc/dan-trang-voi-adobe-indesign/">Dàn trang với Adobe Indesign</a></h4>
											<p class="portfolio_opening">Ngày khai giảng: Đang cập nhật</p>

											<div class="portfolio_teacher">
												<div class="portfolio_teacher_thumbnail">
													<img alt="teacher" class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-4.png">
												</div>
												<p><strong>Nguyễn Tiến Huy </strong><span>MBA RMIT Vietnam - Nhà sáng lập... ...và....</span></p>
											</div>


										</div>
									</article>
								}
							}
							else
							{
								<p>Chưa có khóa học nào, đang cập nhật ...</p>
							}

						</div>

						<div class="clearfix"></div>
						<div class="pagination-wrap">
							<div class="pagination" role="navigation" style="justify-content: center;">

								@for (int i = 1; i <= ViewBag.TotalPages; i++)
								{
									var baseUrl = "";

									if (!string.IsNullOrEmpty(ViewBag.Slug))
									{
										baseUrl = i == 1
										? $"/khoa-hoc/{ViewBag.Slug}"
										: $"/khoa-hoc/{ViewBag.Slug}/page/{i}";
									}
									else
									{
										baseUrl = i == 1
										? "/khoa-hoc"
										: $"/khoa-hoc/page/{i}";
									}

									// giữ search
									if (!string.IsNullOrEmpty(ViewBag.Search))
									{
										baseUrl += $"?s={ViewBag.Search}";
									}

									if (i == ViewBag.Page)
									{
										<span class="page-numbers current">@i</span>
									}
									else
									{
										<a class="page-numbers" href="@baseUrl">@i</a>
									}
								}

								@* Next *@
								@if (ViewBag.Page < ViewBag.TotalPages)
								{
									var next = ViewBag.Page + 1;
									var nextUrl = !string.IsNullOrEmpty(ViewBag.Slug)
									? $"/khoa-hoc/{ViewBag.Slug}/page/{next}"
									: $"/khoa-hoc/page/{next}";

									if (!string.IsNullOrEmpty(ViewBag.Search))
									{
										nextUrl += $"?s={ViewBag.Search}";
									}

									<a class="next page-numbers" href="@nextUrl">
										Next&nbsp;&nbsp;<i class="fas fa-long-arrow-alt-right"></i>
									</a>
								}
							</div>
						</div>


					</div>




				</div>



			</div><!-- end main content -->



		</div>
	</div>

	<div class="porto-html-block porto-block-html-content-bottom"></div>


</div><!-- end main -->