@model MyShop.Models.ProductViewModel
@{
	ViewData["Title"] = "Chi tiết khóa học";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="porto-html-block porto-block-html-banner"></div>
<section class="page-top page-header-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
					<h1 class="page-title">@Model.Product.Name</h1>
				</div>
				<div class="breadcrumbs-wrap text-center">
                    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemtype="http://schema.org/Thing" itemprop="item" href="/">
                                <span itemprop="name">Trang Chủ</span>
                                <meta itemprop="position" content="1" />
                            </a>
                            <i class="delimiter delimiter-2"></i>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemtype="http://schema.org/Thing" itemprop="item" href="/khoa-hoc">
                                <span itemprop="name">Khóa học</span>
                                <meta itemprop="position" content="2" />
                            </a>
                            <i class="delimiter delimiter-2"></i>
                        </li>
                        <li>@Model.Product.Name</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="main" class="column1 boxed"><!-- main -->

			<div class="container">
			<div class="row main-content-wrap">

			<!-- main content -->
			<div class="main-content col-lg-12">

			
<div class="full-width">
</div>

	<div id="content" role="main">

		
			
<article class="portfolio-full post-title-simple post-177 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio_cat-hot-nhat portfolio_cat-thiet-ke-do-hoa">

	<span class="vcard" style="display: none;"><span class="fn"><a href="/" title="Đăng bởi DEV" rel="author">DEV</a></span></span><span class="updated" style="display:none">2021-05-20T22:55:54+07:00</span>	<div class="row">
		<div class="col-lg-7">
			<div class="info_portfolio_left">
				<h2 class="portfolio_title">@Model.Product.Name</h2>
				<div class="rating_student">
					<div class="portfolio_rating">
						<div class="star-rating">
							<span style="width:@(Model.AvgRate*20)%"> <strong class="rating">@Model.AvgRate</strong> out of 5 </span>
						</div>
						<div class="star-number">@Model.AvgRate</div>
					</div>
										<div class="portfolio_student">
						<span>@Model.TotalEnroll</span>
					</div>
															<div class="portfolio_opening">
						<span>Ngày khai giảng: @Model.Product.Date</span>
					</div>
									</div>
				<div class="portfolio_desc">
					@Model.Product.Content
				</div>
				<div class="portfolio_teacher">
					<div class="portfolio_teacher_thumbnail">
						<img alt="teacher" class="img-responsive img-circle" src="@Model.Product.Faculty?.Image">
					</div>
					<p><strong>@Model.Product.Faculty?.Name </strong><span>@Model.Product.Faculty?.Description</span></p>
				</div>
				<div class="portfolio_single_image">
					<img width="370" height="278" src="@Model.Product.Image" class="attachment-full size-full wp-post-image" alt="" srcset="@Model.Product.Image" />
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="portfolio_info">
				<div class="portfolio_price">
											<span class="price">@(Model.Product.SalePrice > 0 ? Model.Product.SalePrice : Model.Product.Price) đ</span>
					
									</div>

									<a href="/dang-ky" class="register_popup portfolio_submit">Đăng ký học ngay!</a>
				<div class="portfolio_promotion">
					<ul>
 	<li>Ưu đãi hấp dẫn khi đăng ký sớm</li>
 	<li>Giảm thêm 5% cho học viên cũ</li>
 	<li>Giảm tiếp 5% cho nhóm 3 người trở lên</li>
 	<li>Giới thiệu việc làm sau khi hoàn thành khóa học</li>
 	<li>Hoàn 50% học phí cho học viên giỏi – xuất sắc không tìm được việc làm sau 3 tháng</li>
 	<li>Miễn phí học lại</li>
 	<li>Miễn phí tham gia workshop chuyên đề</li>
 	<li>Tối đa 15 học viên/lớp</li>
</ul>
<p style="text-align: center;"><em><span style="color: #999999;">(*)Điều kiện và điều khoản áp dụng</span></em></p>				</div>
			</div>
		</div>
	</div>

	<div class="m-t-lg">

		<div class="row">
			<div class="col-md-12 m-t-sm">
				<div class="post-content">

					<div class="vc_row wpb_row row vc_custom_1619167503058"><div class="vc_column_container col-md-4"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_five style_1 top-icon"><div class="porto-sicon-top"><div id="porto-icon-1418124322696d900e8385c" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 65px;"><img class="img-icon" alt="" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-48.png" width="65" height="64" /></div></div></div><div class="porto-sicon-description" style="">Học trực tiếp với giảng viên 8-10 năm kinh nghiệm làm việc và giảng dạy, từng đảm nhận nhiều vị trí như Trưởng nhóm thiết kế, Trưởng bộ phận thiết kế, Giám đốc sáng tạo tại nhiều công ty lớn</div> <!-- description --></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-4"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_five style_1 top-icon"><div class="porto-sicon-top"><div id="porto-icon-1226225242696d900e848a8" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 65px;"><img class="img-icon" alt="" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-49.png" width="65" height="64" /></div></div></div><div class="porto-sicon-description" style="">Phương pháp giảng dạy trực quan, sinh động, dễ hiểu, chú trọng vào thực hành và theo sát lộ trình tiếp nhận của từng cá nhân</div> <!-- description --></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-4"><div class="wpb_wrapper vc_column-inner"><div class="porto-sicon-box info_five style_1 top-icon"><div class="porto-sicon-top"><div id="porto-icon-1031202156696d900e858db" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 65px;"><img class="img-icon" alt="" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-50.png" width="65" height="64" /></div></div></div><div class="porto-sicon-description" style="">Khóa học được thiết kế tập trung vào các kỹ năng cốt lõi, nền tảng nhằm phát triển tư duy thẩm mỹ và sử dụng thành thạo các công cụ có tính ứng dụng thực tế cao</div> <!-- description --></div><!-- porto-sicon-box --></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1619166642903 vc_row-has-fill vc_row-o-content-middle vc_row-flex"><div class="vc_column_container col-md-6"><div class="wpb_wrapper vc_column-inner"><h2  class="vc_custom_heading title_one align-left">Khóa học dành cho những ai?</h2>
	<div class="wpb_text_column wpb_content_element " >
		<div class="wpb_wrapper">
			<p>Dành cho người mới bắt đầu, chưa có kiến thức và kinh nghiệm về thiết kế đồ họa cũng như các công cụ thiết kế.</p>

		</div>
	</div>
<div class="porto-sicon-box info_seven style_1 default-icon flex-wrap"><div class="porto-sicon-default"><div id="porto-icon-1479735715696d900e8858c" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 14px;"><img class="img-icon" alt="" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/dot_list.png" width="14" height="14" /></div></div></div><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Học sinh THPT</h5></div> <!-- header --><div class="porto-sicon-description" style="">Đam mê sáng tạo, ham học hỏi, muốn tìm hiểu về bộ dụng cụ hỗ trợ các hoạt động mỹ thuật, sáng tạo trong trường hoặc chuẩn bị cho các ngành học trong tương lai.</div> <!-- description --></div><!-- porto-sicon-box --><div class="porto-sicon-box info_seven style_1 default-icon flex-wrap"><div class="porto-sicon-default"><div id="porto-icon-769994239696d900e88dc5" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 14px;"><img class="img-icon" alt="" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/dot_list.png" width="14" height="14" /></div></div></div><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Sinh viên</h5></div> <!-- header --><div class="porto-sicon-description" style="">Các chuyên ngành thiết kế, mỹ thuật, kinh tế, marketing, truyền thông, báo chí hoặc các ngành khác muốn nâng cao tư duy thẩm mỹ, nắm vững bộ công cụ hỗ trợ, trang bị thêm các kỹ năng trong công việc trong tương lai cũng như mở rộng thêm nhiều cơ hội nghề nghiệp khác</div> <!-- description --></div><!-- porto-sicon-box --><div class="porto-sicon-box info_seven style_1 default-icon flex-wrap"><div class="porto-sicon-default"><div id="porto-icon-1182034207696d900e895cf" class="porto-just-icon-wrapper" style="text-align:center;"><div class="porto-sicon-img " style="display:inline-block;font-size: 14px;"><img class="img-icon" alt="" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/dot_list.png" width="14" height="14" /></div></div></div><div class="porto-sicon-header"><h5 class="porto-sicon-title" style="">Người đi làm</h5></div> <!-- header --><div class="porto-sicon-description" style="">Muốn nâng cao năng lực, tìm kiếm nguồn cảm hứng trong công việc hiện tại, muốn thay đổi công việc với nhiều cơ hội gia tăng thu nhập hoặc tạo ra nguồn thu nhập khác ngoài công việc chính đảm bảo sự ổn định và vững vàng về tài chính</div> <!-- description --></div><!-- porto-sicon-box --></div></div><div class="vc_column_container col-md-6 vc_custom_1619192640149"><div class="wpb_wrapper vc_column-inner">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="568" height="540" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-51-2.png" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-51-2.png 568w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-51-2-400x380.png 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-51-2-367x349.png 367w" sizes="(max-width: 568px) 100vw, 568px" /></div>
		</div>
	</div>
</div></div></div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row row vc_custom_1619190282417"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><h2 style="text-align: center" class="vc_custom_heading title_one">Chương trình học</h2><div class="porto-toggles mypage wpb_content_element "><section class="toggle mypage"><label><span>Phần 1: <strong>Nguyên Lý thiết kế</strong></span><span>03 tiết (01 buổi)</span></label><div class="toggle-content"><p>Đang cập nhật&#8230;</p>
<p>Đang cập nhật&#8230;</p>
</div></section><section class="toggle mypage"><label><span>Phần 2: <strong>Chỉnh sửa ảnh với Photoshop</strong></span><span>03 tiết (01 buổi)</span></label><div class="toggle-content"><p>Đang cập nhật&#8230;</p>
</div></section><section class="toggle mypage"><label><span>Phần 3: <strong>Thiết kế với Adobe Illustrator</strong></span><span>03 tiết (01 buổi)</span></label><div class="toggle-content"><p>Đang cập nhật&#8230;</p>
</div></section><section class="toggle mypage"><label><span>Phần 4: <strong>Dàn trang với Indesign</strong></span><span>03 tiết (01 buổi)</span></label><div class="toggle-content"><p>Đang cập nhật&#8230;</p>
</div></section><section class="toggle mypage"><label><span>Phần 5: <strong>Bài thực hành tổng hợp</strong></span><span>03 tiết (01 buổi)</span></label><div class="toggle-content"><p>Đang cập nhật&#8230;</p>
</div></section><section class="toggle mypage disable"><label><span>Tổng cộng:</span><span>85 tiết (32 buổi) ~ 4 tháng</span></label><div class="toggle-content"></div></section></div></div></div></div><div class="vc_row wpb_row row vc_custom_1619190252455"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-u-heading title_two" data-hspacer="line_only" data-halign="center" style="text-align:center"><div class="porto-u-main-heading"><h2>Cơ hội việc làm</h2></div><div class="porto-u-heading-spacer line_only" style="height:3px;"><span class="porto-u-headings-line" style="border-style:solid;border-bottom-width:3px;border-color:#ccc;width:40px;"></span></div><div class="porto-u-sub-heading" style="">Sau khi tốt nghiệp, học viên có thể đảm nhiệm công việc trong các lĩnh vực</div></div><div class="vc_row wpb_row vc_inner row vc_row-o-content-middle vc_row-flex"><div class="vc_column_container col-md-6"><div class="wpb_wrapper vc_column-inner">
	<div class="wpb_single_image wpb_content_element vc_align_center">
		<div class="wpb_wrapper">
			
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="508" height="259" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-52.jpg" class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-52.jpg 508w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-52-400x204.jpg 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-52-367x187.jpg 367w" sizes="(max-width: 508px) 100vw, 508px" /></div>
		</div>
	</div>
</div></div><div class="vc_column_container col-md-6"><div class="wpb_wrapper vc_column-inner">
	<div class="wpb_text_column wpb_content_element  list_one" >
		<div class="wpb_wrapper">
			<ul>
<li>Thiết kế logo, bộ nhận diện thương hiệu.</li>
<li>Thiết kế các ấn phẩm truyền thông quảng cáo.</li>
<li>Thiết kế hình ảnh kỹ thuật số.</li>
<li>Thiết kế dàn trang và minh họa sách, báo, tạp chí.</li>
<li>Thiết kế bao bì sản phẩm.</li>
<li>Tham gia vào quy trình sản xuất hoặc hậu kỳ, thiết kế nhân vật, bối cảnh phim.</li>
</ul>

		</div>
	</div>
</div></div></div></div></div></div><div class="vc_row wpb_row row"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><h2 style="text-align: center" class="vc_custom_heading title_one">Sản phẩm của học viên</h2><div id="porto-carousel-1476422861696d900e99536" class="porto-carousel-wrapper  " data-gutter="15" data-rtl="false" ><div class="porto-ultimate-carousel porto-carousel-655087245696d900e99506 " ><div class="porto-item-wrap"><div class="vc_row wpb_row vc_inner row"><div class="porto-item-wrap"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-item-wrap"><div id="interactive-banner-wrap-6503" class="porto-ibanner porto-ibe-overlay banner_one open_modal_3" style=""><style scope="scope">#interactive-banner-wrap-6503:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-55.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-55.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-55-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_3";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900ea577f6-33481250");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900ea577f6-33481250" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-474 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png" alt="" width="724" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png 724w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-640x905.png 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-400x566.png 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-367x519.png 367w" sizes="(max-width: 724px) 100vw, 724px" /></div></div></div><div class="porto-item-wrap"><div id="interactive-banner-wrap-1143" class="porto-ibanner porto-ibe-overlay banner_one open_modal_4" style=""><style scope="scope">#interactive-banner-wrap-1143:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-56-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_4";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900ea63436-99914612");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900ea63436-99914612" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-475 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg" alt="" width="725" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg 725w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-640x904.jpeg 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-400x565.jpeg 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-367x518.jpeg 367w" sizes="(max-width: 725px) 100vw, 725px" /></div></div></div></div></div></div></div></div><div class="porto-item-wrap"><div class="vc_row wpb_row vc_inner row"><div class="porto-item-wrap"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-item-wrap"><div id="interactive-banner-wrap-6927" class="porto-ibanner porto-ibe-overlay banner_one open_modal_1" style=""><style scope="scope">#interactive-banner-wrap-6927:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_1";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900ea781b5-20675178");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900ea781b5-20675178" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-474 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png" alt="" width="724" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png 724w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-640x905.png 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-400x566.png 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-367x519.png 367w" sizes="(max-width: 724px) 100vw, 724px" /></div></div></div><div class="porto-item-wrap"><div id="interactive-banner-wrap-3449" class="porto-ibanner porto-ibe-overlay banner_one open_modal_2" style=""><style scope="scope">#interactive-banner-wrap-3449:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_2";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900ea83de9-99382893");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900ea83de9-99382893" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-475 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg" alt="" width="725" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg 725w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-640x904.jpeg 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-400x565.jpeg 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-367x518.jpeg 367w" sizes="(max-width: 725px) 100vw, 725px" /></div></div></div></div></div></div></div></div><div class="porto-item-wrap"><div class="vc_row wpb_row vc_inner row"><div class="porto-item-wrap"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-item-wrap"><div id="interactive-banner-wrap-5977" class="porto-ibanner porto-ibe-overlay banner_one open_modal_5" style=""><style scope="scope">#interactive-banner-wrap-5977:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-57.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-57.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-57-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_5";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900ea992f5-17174875");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900ea992f5-17174875" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-474 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png" alt="" width="724" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png 724w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-640x905.png 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-400x566.png 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-367x519.png 367w" sizes="(max-width: 724px) 100vw, 724px" /></div></div></div><div class="porto-item-wrap"><div id="interactive-banner-wrap-2242" class="porto-ibanner porto-ibe-overlay banner_one open_modal_6" style=""><style scope="scope">#interactive-banner-wrap-2242:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-58.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-58.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-58-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_6";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900eaa4f07-74894926");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900eaa4f07-74894926" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-475 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg" alt="" width="725" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg 725w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-640x904.jpeg 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-400x565.jpeg 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-367x518.jpeg 367w" sizes="(max-width: 725px) 100vw, 725px" /></div></div></div></div></div></div></div></div><div class="porto-item-wrap"><div class="vc_row wpb_row vc_inner row"><div class="porto-item-wrap"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-item-wrap"><div id="interactive-banner-wrap-3545" class="porto-ibanner porto-ibe-overlay banner_one open_modal_7" style=""><style scope="scope">#interactive-banner-wrap-3545:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-53-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_7";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900eab6f27-99654360");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900eab6f27-99654360" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-474 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png" alt="" width="724" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-724x1024.png 724w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-640x905.png 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-400x566.png 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-59-367x519.png 367w" sizes="(max-width: 724px) 100vw, 724px" /></div></div></div><div class="porto-item-wrap"><div id="interactive-banner-wrap-9120" class="porto-ibanner porto-ibe-overlay banner_one open_modal_8" style=""><style scope="scope">#interactive-banner-wrap-9120:hover:before { background-color: #000000; opacity: 0.5 }</style><img src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg" alt="" width="370" height="277" class="porto-ibanner-img" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54.jpg 370w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-54-367x275.jpg 367w" sizes="(max-width: 370px) 100vw, 370px"><div class="porto-ibanner-desc"><h2 class="porto-ibanner-title" style="">Wallet Series</h2><div class="porto-ibanner-content" style="">Tran Mau Tri Tam</div></div></div></div><div class="porto-item-wrap"><style>.mfp-bg.mfp-fade { background-color:rgba(0,0,0,0.8); }</style><div class="porto-modal-input-wrapper "><script>
	(function($){
		$(document).ready(function(){
			var selector = ".open_modal_8";
			$(selector).addClass("porto-modal-trigger");
			$(selector).attr("data-trigger-id", "porto-modal-696d900eac00d6-43341285");
			$(selector).attr("data-type", "inline");
			$(selector).attr("data-overlay-class", "mfp-fade");
		});
	})(jQuery);
	</script></div><div id="porto-modal-696d900eac00d6-43341285" class="mfp-hide modal_one"><div class="porto-modal-content"><img loading="lazy" class="size-large wp-image-475 aligncenter" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg" alt="" width="725" height="1024" srcset="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-725x1024.jpeg 725w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-640x904.jpeg 640w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-400x565.jpeg 400w, https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-60-367x518.jpeg 367w" sizes="(max-width: 725px) 100vw, 725px" /></div></div></div></div></div></div></div></div></div></div><script>
	jQuery(document).ready(function ($) {
		if ($.fn.slick) {
			$('.porto-carousel-655087245696d900e99506').slick({dots: true,autoplay: true,autoplaySpeed: 5000,speed: 300,infinite: true,arrows: false,slidesToScroll:1,slidesToShow:3,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
				{
				  breakpoint: 1025,
				  settings: {
					slidesToShow: 3,
					slidesToScroll: 1,  
				  }
				},
				{
				  breakpoint: 769,
				  settings: {
					slidesToShow: 2,
					slidesToScroll: 2
				  }
				},
				{
				  breakpoint: 481,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			],pauseOnDotsHover: true,customPaging: function(slider, i) {
	   return '<i type="button" style="color:#cccccc;" class="fas fa-circle" data-role="none"></i>';
	},});
		} else {
			var c = document.createElement("script");
			c.src = "https://tech1.mypagedemo.com/brightbox/wp-content/themes/mypage/js/libs/jquery.slick.min.js";
			if (!$('script[src="' + c.src + '"]').length) {
				document.getElementsByTagName("body")[0].appendChild(c);
			}
			c = document.createElement("script");
			c.src = "https://tech1.mypagedemo.com/brightbox/wp-content/plugins/porto-functionality/shortcodes/assets/js/ultimate-carousel-loader.min.js";
			if (!$('script[src="' + c.src + '"]').length) {
				document.getElementsByTagName("body")[0].appendChild(c);
			}
			setTimeout(function() {
				if ($.fn.slick) { $('.porto-carousel-655087245696d900e99506').slick({dots: true,autoplay: true,autoplaySpeed: 5000,speed: 300,infinite: true,arrows: false,slidesToScroll:1,slidesToShow:3,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
				{
				  breakpoint: 1025,
				  settings: {
					slidesToShow: 3,
					slidesToScroll: 1,  
				  }
				},
				{
				  breakpoint: 769,
				  settings: {
					slidesToShow: 2,
					slidesToScroll: 2
				  }
				},
				{
				  breakpoint: 481,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			],pauseOnDotsHover: true,customPaging: function(slider, i) {
	   return '<i type="button" style="color:#cccccc;" class="fas fa-circle" data-role="none"></i>';
	},}); }
			}, 300);
		}
	});
</script>
</div></div></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row row vc_custom_1619190322316 vc_row-has-fill"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><h2 style="text-align: center" class="vc_custom_heading title_one">Học viên nói gì về khóa học ?</h2><div id="porto-carousel-1090759628696d900ead7e7" class="porto-carousel-wrapper  " data-gutter="15" data-rtl="false" ><div class="porto-ultimate-carousel porto-carousel-226910641696d900ead7b3 " ><div class="porto-item-wrap"><div class="vc_row wpb_row vc_inner row"><div class="porto-item-wrap"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-item-wrap"><div class="porto-testimonial wpb_content_element  testi_one"><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote></div></div></div><div class="porto-item-wrap"><div class="porto-testimonial wpb_content_element  testi_one"><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote></div></div></div><div class="porto-item-wrap"><div class="porto-testimonial wpb_content_element  testi_one"><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote></div></div></div></div></div></div></div></div><div class="porto-item-wrap"><div class="vc_row wpb_row vc_inner row"><div class="porto-item-wrap"><div class="vc_column_container col-md-12"><div class="wpb_wrapper vc_column-inner"><div class="porto-item-wrap"><div class="porto-testimonial wpb_content_element  testi_one"><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote></div></div></div><div class="porto-item-wrap"><div class="porto-testimonial wpb_content_element  testi_one"><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote></div></div></div><div class="porto-item-wrap"><div class="porto-testimonial wpb_content_element  testi_one"><div class="testimonial testimonial-style-4"><div class="testimonial-author clearfix"><div class="testimonial-author-thumbnail"><img class="img-responsive img-circle" src="https://tech1.mypagedemo.com/brightbox/wp-content/uploads/2020/06/img-9.jpg" alt="Giang Thùy Trang"></div><div class="testimonial_header_desc"><p><strong>Giang Thùy Trang</strong><span>Học viên khóa Thiết kế đồ họa</span><span>Nhân viên Kế toán</span></p><div class="testimonial_rating"><div class="star-rating"><span style="width:94%"><strong class="rating">4.7</strong> out of 5 </span></div></div></div></div><div class="testimonial-arrow-down"></div><blockquote><p>Bài giảng rất dễ hiểu, mình thực hành được ngay tại lớp và cảm thấy rất hứng thú. Mình chưa từng nghĩ mình có thể đạt được những kỹ năng liên quan đến thiết kế dễ dàng như thế. Mình sẽ tiếp tục đồng hành thêm những khóa học khác của Bright Box</p></blockquote></div></div></div></div></div></div></div></div></div></div><script>
	jQuery(document).ready(function ($) {
		if ($.fn.slick) {
			$('.porto-carousel-226910641696d900ead7b3').slick({dots: true,autoplay: true,autoplaySpeed: 5000,speed: 300,infinite: true,arrows: false,slidesToScroll:1,slidesToShow:1,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
				{
				  breakpoint: 1025,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1,  
				  }
				},
				{
				  breakpoint: 769,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				},
				{
				  breakpoint: 481,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			],pauseOnDotsHover: true,customPaging: function(slider, i) {
	   return '<i type="button" style="color:#cccccc;" class="fas fa-circle" data-role="none"></i>';
	},});
		} else {
			var c = document.createElement("script");
			c.src = "https://tech1.mypagedemo.com/brightbox/wp-content/themes/mypage/js/libs/jquery.slick.min.js";
			if (!$('script[src="' + c.src + '"]').length) {
				document.getElementsByTagName("body")[0].appendChild(c);
			}
			c = document.createElement("script");
			c.src = "https://tech1.mypagedemo.com/brightbox/wp-content/plugins/porto-functionality/shortcodes/assets/js/ultimate-carousel-loader.min.js";
			if (!$('script[src="' + c.src + '"]').length) {
				document.getElementsByTagName("body")[0].appendChild(c);
			}
			setTimeout(function() {
				if ($.fn.slick) { $('.porto-carousel-226910641696d900ead7b3').slick({dots: true,autoplay: true,autoplaySpeed: 5000,speed: 300,infinite: true,arrows: false,slidesToScroll:1,slidesToShow:1,swipe: true,draggable: true,touchMove: true,pauseOnHover: true,responsive: [
				{
				  breakpoint: 1025,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1,  
				  }
				},
				{
				  breakpoint: 769,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				},
				{
				  breakpoint: 481,
				  settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				  }
				}
			],pauseOnDotsHover: true,customPaging: function(slider, i) {
	   return '<i type="button" style="color:#cccccc;" class="fas fa-circle" data-role="none"></i>';
	},}); }
			}, 300);
		}
	});
</script>
</div></div></div><div class="vc_row-full-width vc_clearfix"></div>

				</div>

				
			</div>
			<div class="col-md-5 m-t-sm">
				
							</div>
		</div>

		
		
	</div>

</article>

			</div>
		

</div><!-- end main content -->



	</div>
	</div>

<div class="porto-html-block porto-block-html-content-bottom"></div>
		
			
			</div><!-- end main -->
